body, html {
    background: black;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px; /* Ajusta este valor a la altura de tu navbar */
}


.coloriconos
{
    color: blue;
}

.imagen-foto {
    width: 50%;
    border-radius: 5%;
    transition: width 0.5s ease, border-radius 0.5s ease; /* Transición suave */
}

.imagen-foto:hover {
    width: 60%;
    border-radius: 10%; /* Cambia el radio de la esquina para mostrar la animación */
}

.imagen-foto-bg {
    background-image: url('img/FOTO.JPEG') !important;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 70vh;
    transition: transform 0.5s ease, border-radius 0.5s ease;
    text-justify: auto !important;
    z-index: 3;
}

.imagen-foto-bg:hover {
    transform: scale(1.1); 
    z-index: 10;
}

.imagen-container {
    overflow: hidden;
    padding: 0;
    margin: 0; 
    height: 100vh;  
}

.imagen-Web {
    background-image: url('img/IMGPROYECTOWEB.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    transition: transform 0.5s ease, border-radius 0.5s ease;
    cursor: pointer; 
}

.imagen-Web:hover {
    transform: scale(1.1); 
}
.imagen-Web:hover p {
    color: blueviolet;
}

.imagen-WebADJ {
    background-image: url('img/IMGPROYECTOADJ.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    transition: transform 0.5s ease, border-radius 0.5s ease;
    cursor: pointer; 
}

.imagen-WebADJ:hover {
    transform: scale(1.1); 
}
.imagen-WebADJ:hover p {
    color: blueviolet;
}

.reducirtexto {
    text-align: justify !important;
    z-index: 1;
}

#video-fondo {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
    position: absolute;  
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.text-nombre {
    display: block; 
    font-weight: bold;  
    font-size: 1.5rem;   
    text-align: center; 
}


.text-proyectw{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;  
    text-align: center;
}

@media (max-width: 768px) {
    .imagen-foto-bg {
        height: 100vh;
    }

    .reducirtexto h2 {
        font-size: 1rem;
    }
    .reducirtexto h6 {
        font-size: 0.8rem;
    }

    .reducirtexto span {
        font-size: 0.9rem;
    }
    .text-proyectw
    {
        font-size: 1rem;
    }
    .text-carrousel
    {
        font-size: 0.8rem;
    }
    .bg-footer {
        padding: 2rem 0;
      }
    
      .col-md-4 {
        margin-bottom: 1.5rem;
      }
  
      .bg-footer a {
          transition: color 0.3s;
          font-size: 0.8rem;
        }
        .bg-footer p {
          transition: color 0.3s;
          font-size: 0.8rem;
        }
        .textlagos
        {
            font-size: 1.3rem !important;
        }
        .text-holder
        {
            font-size: 0.8rem;
        }
        .shadow-img {
        width: 100% !important;
        height: 50% !important;
        margin-right: 8%;
        }
        .text-tecnologias h6
        {
            font-size: 0.6rem !important;
        }
        .text-tecnologias h4
        {
            font-size: 0.5rem !important;
        }
}

@media (min-width: 1200px) {
    .imagen-foto-bg {
        height: 70vh;
    }
    .shadow-img {
        width: 70% !important;
        height: 80% !important;
        margin-right: 8%;
    }
}

.filtro
{
    opacity: 0.6;
}

.bg-footer {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000,#2c3e50); 
    background: linear-gradient(to bottom, #000000,#2c3e50);
}


.bg-footer h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .bg-footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .bg-footer p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .bg-footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    transition: transform 0.5s ease, border-radius 0.5s ease;
  }

  .bg-footer p {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    transition: transform 0.5s ease, border-radius 0.5s ease;
  }
  
  .bg-footer a:hover {
    color: blue !important;  /* Cambio de color al pasar el ratón */
    transform: scale(1.1); 
    
  }
  .bg-footer p:hover {
    color: blue !important;  /* Cambio de color al pasar el ratón */
    transform: scale(1.1); 
  }
  
  
  .text-center {
    text-align: center;
  }
  
  .text-md-end {
    text-align: right;
  }
  
  .container {
    max-width: 90% ;
    margin: auto;
    margin-top: 8%;
  }

  .container-2 {
    max-width: 90%;
    margin: auto;
    margin-top: 4%;
  }
  
  .py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .textlagos
  {
    font-size: 1.7rem;
  }

  .Resaltar{
    color: red;
}
.botones{
    background-color: white !important;
    border: 1px !important;
    border-color: black !important;
    color: white !important;
    font-weight: bold !important;
    box-shadow: 5px 5px 10px gray !important;
    /* Para el redondeado */
    border-radius: 5px !important;
    margin: 5px !important; 
}

.custom-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    position: relative;
}
.card{
    width: auto;
    height: auto;
    background: rgb(2, 2, 48);
    box-shadow: 5px 5px 10px rgb(11, 7, 243);
    border-radius: 5px;
    margin: 5px; 
}
.card-title{
    margin-left: 30px;
    padding-top: 15px;
    color: white
}
.card-image{
    display: flex;
    justify-content: center;
}
.card-image img{
    width: 75%;
}
.sombratexto
{
    color: white;
    text-shadow: 5px 5px 10px rgb(11, 7, 243);
    text-align: start;
}

.titulos
{
    margin-top: 10%;
    font-size: 2.1rem;
    color: floralwhite;
    text-shadow: 5px 5px 10px rgb(11, 7, 243);
}

.shadow-img {
    width: 50%;
    height: 60%;
    margin-right: 8%;
    filter: drop-shadow(4px 4px 5px rgba(11, 7, 243));
    border-radius: 8px;
}

.text-holder
{
    text-align: justify !important;
    transition: transform 0.5s ease, border-radius 0.5s ease;
}
.text-holder:hover
{
    transform: scale(1.1);
}

.text-justificar
{
    text-align: justify !important;
}

.text-tecnologias h6
{
    font-size: 1rem;
}

.text-tecnologias h4
{
    font-size: 1.3rem;
}

.img-servidor
{
    height: 10vh !important;
}

.text-tecnologias h6
{
    font-size: 1rem;
}
  
  